:root {
    --black-rock-50: #d9d3ff;
    --black-rock-100: #c8bdff;
    --black-rock-200: #a391ff;
    --black-rock-300: #785bff;
    --black-rock-400: #5e1eff;
    --black-rock-500: #5700ff;
    --black-rock-600: #4f00ff;
    --black-rock-700: #4a00ff;
    --black-rock-800: #3e00e6;
    --black-rock-900: #3200af;
    --black-rock-950: #120033;   
}

