*::-webkit-scrollbar {
    width: 10px;
    background-color: #0000;
    margin-right: 1vw;
}

*::-webkit-scrollbar-thumb {
    background-color: rgb(44, 149, 156);
    border-radius: 1vw;
}


*::-webkit-scrollbar:hover {
    background-color: #333;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: rgb(0, 118, 120);
}

.body-scrollx-hidden {
    overflow-x: hidden;
}