<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <!-- CSS -->
    <link rel="stylesheet" href="../assets/css/index1.css">

    <!-- Icon -->
    <link rel="icon" href="../assets/img/login.svg">

    <!-- scripts -->


        <!-- Error -->   
    <script src="../assets/js/error.js"></script>
</head>
<body>
    
    <header>
        <nav>
            <ul>
                <li>
                    <a href="register.html" target="_blank">Register</a>
                </li>
            </ul>
        </nav>
    </header>

    <!-- Formulario -->
    <article id="form">
        <form action="" method="">
            
            <div id="title">
                <h1>Inicio De Seción</h1>
            </div>

            <div id="inputs">
                <label for="usrName" class="name">
                    <span>Nombre, Correo o Número De Telefono: </span>
                    <input type="text" name="usrName" id="usrName" required autofocus>
                </label>
    
                <label for="password" class="div_pass">
                    <span>Contraseña: </span>
                    <input type="password" name="pass" id="pass" required autofocus>
                </label>
    
                <label for="remember">
                    Recordar inicio de seción:
                    <input type="checkbox" name="remember" id="remember">
                </label>
            </div>

            <button  id="enviar">
                Iniciar Seción
            </button>

        </form>
    </article>

</body>
    <!-- Declarar -->   
    <script src="../assets/js/declare.js"></script>
<!-- Validador -->
<script src="../assets/js/validate.js"></script>

</html>